<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<body>
<form id="form" method="post" action="/login/loginshiro">
    登录:<p></p>
    输入账号：<input type="text" id="name" name="name" placeholder="输入账号"/>
    <p></p>
    输入密码：<input type="password" id="pass" name="pass" placeholder="输入密码"/>
    <p></p>
    <button type="submit" name="" onclick="">提交</button>
    <input type="reset" value="重置" name="reset">
</form>

</body>
<script type="text/javascript">
</script>
</html>